In [76]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
% matplotlib inline

import statsmodels.api as sm;

df = pd.read_csv('results.csv')
df.head()
dff_copy = df

In [2]:
len(df['home_team'].unique())

291

In [3]:
len(df['away_team'].unique())

289

In [4]:
len(np.unique(df[['home_team','away_team']].values))

294

In [5]:
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876

In [6]:
df['year'].unique()

array([1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882,
       1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893,
       1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904,
       1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915,
       1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926,
       1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937,
       1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948,
       1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959,
       1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018], dtype=int64)

In [7]:
df = df[df['year'] > 1950]

In [8]:
df['year'].unique()

array([1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961,
       1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972,
       1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983,
       1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
       1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018], dtype=int64)

In [9]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
3144,1951-02-06,France,Yugoslavia,2,1,Friendly,Paris,France,False,1951
3145,1951-02-18,Spain,Switzerland,6,3,Friendly,Madrid,Spain,False,1951
3146,1951-02-24,Zimbabwe,Zambia,2,1,Friendly,Salisbury,Southern Rhodesia,False,1951
3147,1951-02-25,Costa Rica,Nicaragua,8,1,CCCF Championship,Panama City,Panama,True,1951
3148,1951-02-27,Panama,Costa Rica,2,0,CCCF Championship,Panama City,Panama,False,1951

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36494 entries, 3144 to 39637
Data columns (total 10 columns):
date          36494 non-null datetime64[ns]
home_team     36494 non-null object
away_team     36494 non-null object
home_score    36494 non-null int64
away_score    36494 non-null int64
tournament    36494 non-null object
city          36494 non-null object
country       36494 non-null object
neutral       36494 non-null bool
year          36494 non-null int64
dtypes: bool(1), datetime64[ns](1), int64(3), object(5)
memory usage: 2.8+ MB

In [11]:
england = df[df['home_team'] == 'England']
print(england)

            date home_team         away_team  home_score  away_score  \
3158  1951-04-14   England          Scotland           2           3
3162  1951-05-09   England         Argentina           2           1
3170  1951-05-19   England          Portugal           5           2
3211  1951-10-03   England            France           2           2
3226  1951-11-14   England  Northern Ireland           2           0
3234  1951-11-28   England           Austria           2           2
3345  1952-11-12   England             Wales           5           2
3348  1952-11-26   England           Belgium           5           0
3412  1953-04-18   England          Scotland           2           2
3509  1953-11-11   England  Northern Ireland           3           1
3518  1953-11-25   England           Hungary           3           6
3604  1954-06-26   England           Uruguay           2           4
3661  1954-11-10   England             Wales           3           2
3665  1954-12-01   England           Germany           3           1
3697  1955-04-02   England          Scotland           7           2
3797  1955-11-02   England  Northern Ireland           3           0
3812  1955-11-30   England             Spain           4           1
3889  1956-05-09   England            Brazil           4           2
3995  1956-11-14   England             Wales           3           1
4004  1956-11-28   England        Yugoslavia           3           0
4008  1956-12-05   England           Denmark           5           2
4058  1957-04-06   England          Scotland           2           1
4075  1957-05-08   England           Ireland           5           1
4220  1957-11-06   England  Northern Ireland           2           3
4230  1957-11-27   England            France           4           0
4272  1958-05-07   England          Portugal           2           1
4298  1958-06-08   England            Russia           2           2
4321  1958-06-17   England            Russia           0           1
4378  1958-10-22   England            Russia           5           0
4393  1958-11-26   England             Wales           2           2
...          ...       ...               ...         ...         ...
35525 2013-11-19   England           Germany           0           1
35666 2014-03-05   England           Denmark           1           0
35800 2014-05-30   England              Peru           3           0
35915 2014-06-14   England             Italy           1           2
36029 2014-09-03   England            Norway           1           0
36152 2014-10-09   England        San Marino           5           0
36340 2014-11-15   England          Slovenia           3           1
36589 2015-03-27   England         Lithuania           4           0
37093 2015-09-08   England       Switzerland           2           0
37162 2015-10-09   England           Estonia           2           0
37380 2015-11-17   England            France           2           0
37627 2016-03-29   England       Netherlands           1           2
37682 2016-05-22   England            Turkey           2           1
37689 2016-05-27   England         Australia           2           1
37760 2016-06-02   England          Portugal           1           0
37874 2016-06-11   England            Russia           1           1
37907 2016-06-16   England             Wales           2           1
37957 2016-06-27   England           Iceland           1           2
38146 2016-10-08   England             Malta           2           0
38263 2016-11-11   England          Scotland           3           0
38324 2016-11-15   England             Spain           2           2
38509 2017-03-26   England         Lithuania           2           0
38944 2017-09-04   England          Slovakia           2           1
39005 2017-10-05   England          Slovenia           1           0
39132 2017-11-10   England           Germany           0           0
39185 2017-11-14   England            Brazil           0           0
39392 2018-03-27   England             Italy           1           1
39500 2018-06-02   England           Nigeria           2           1
39565 2018-06-07   England        Costa Rica           2           0
39635 2018-06-24   England            Panama           6           1

                         tournament             city      country  neutral  \
3158           British Championship           London      England    False
3162                       Friendly           London      England    False
3170                       Friendly        Liverpool      England    False
3211                       Friendly           London      England    False
3226           British Championship           London      England    False
3234                       Friendly           London      England    False
3345           British Championship           London      England    False
3348                       Friendly           London      England    False
3412           British Championship           London      England    False
3509   FIFA World Cup qualification        Liverpool      England    False
3518                       Friendly           London      England    False
3604                 FIFA World Cup            Basel  Switzerland     True
3661           British Championship           London      England    False
3665                       Friendly           London      England    False
3697           British Championship           London      England    False
3797           British Championship           London      England    False
3812                       Friendly           London      England    False
3889                       Friendly           London      England    False
3995           British Championship           London      England    False
4004                       Friendly           London      England    False
4008   FIFA World Cup qualification    Wolverhampton      England    False
4058           British Championship           London      England    False
4075   FIFA World Cup qualification           London      England    False
4220           British Championship           London      England    False
4230                       Friendly           London      England    False
4272                       Friendly           London      England    False
4298                 FIFA World Cup       Gothenburg       Sweden     True
4321                 FIFA World Cup       Gothenburg       Sweden     True
4378                       Friendly           London      England    False
4393           British Championship       Birmingham      England    False
...                             ...              ...          ...      ...
35525                      Friendly           London      England    False
35666                      Friendly           London      England    False
35800                      Friendly           London      England    False
35915                FIFA World Cup           Manaus       Brazil     True
36029                      Friendly           London      England    False
36152       UEFA Euro qualification           London      England    False
36340       UEFA Euro qualification           London      England    False
36589       UEFA Euro qualification           London      England    False
37093       UEFA Euro qualification           London      England    False
37162       UEFA Euro qualification           London      England    False
37380                      Friendly           London      England    False
37627                      Friendly           London      England    False
37682                      Friendly       Manchester      England    False
37689                      Friendly       Sunderland      England    False
37760                      Friendly           London      England    False
37874                     UEFA Euro        Marseille       France     True
37907                     UEFA Euro             Lens       France     True
37957                     UEFA Euro             Nice       France     True
38146  FIFA World Cup qualification           London      England    False
38263  FIFA World Cup qualification           London      England    False
38324                      Friendly           London      England    False
38509  FIFA World Cup qualification           London      England    False
38944  FIFA World Cup qualification           London      England    False
39005  FIFA World Cup qualification           London      England    False
39132                      Friendly           London      England    False
39185                      Friendly           London      England    False
39392                      Friendly           London      England    False
39500                      Friendly           London      England    False
39565                      Friendly            Leeds      England    False
39635                FIFA World Cup  Nizhny Novgorod       Russia     True

       year
3158   1951
3162   1951
3170   1951
3211   1951
3226   1951
3234   1951
3345   1952
3348   1952
3412   1953
3509   1953
3518   1953
3604   1954
3661   1954
3665   1954
3697   1955
3797   1955
3812   1955
3889   1956
3995   1956
4004   1956
4008   1956
4058   1957
4075   1957
4220   1957
4230   1957
4272   1958
4298   1958
4321   1958
4378   1958
4393   1958
...     ...
35525  2013
35666  2014
35800  2014
35915  2014
36029  2014
36152  2014
36340  2014
36589  2015
37093  2015
37162  2015
37380  2015
37627  2016
37682  2016
37689  2016
37760  2016
37874  2016
37907  2016
37957  2016
38146  2016
38263  2016
38324  2016
38509  2017
38944  2017
39005  2017
39132  2017
39185  2017
39392  2018
39500  2018
39565  2018
39635  2018

[369 rows x 10 columns]

In [12]:
tourney_dummies = pd.get_dummies(df['tournament'])
df_new = df.join(tourney_dummies)
df_new.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,...,UNCAF Cup,UNIFFAC Cup,USA Cup,United Arab Emirates Friendship Tournament,VFF Cup,Vietnam Independence Cup,Viva World Cup,WAFF Championship,West African Cup,Windward Islands Tournament
3144,1951-02-06,France,Yugoslavia,2,1,Friendly,Paris,France,False,1951,...,0,0,0,0,0,0,0,0,0,0
3145,1951-02-18,Spain,Switzerland,6,3,Friendly,Madrid,Spain,False,1951,...,0,0,0,0,0,0,0,0,0,0
3146,1951-02-24,Zimbabwe,Zambia,2,1,Friendly,Salisbury,Southern Rhodesia,False,1951,...,0,0,0,0,0,0,0,0,0,0
3147,1951-02-25,Costa Rica,Nicaragua,8,1,CCCF Championship,Panama City,Panama,True,1951,...,0,0,0,0,0,0,0,0,0,0
3148,1951-02-27,Panama,Costa Rica,2,0,CCCF Championship,Panama City,Panama,False,1951,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df_new['tournament'].unique()

array(['Friendly', 'CCCF Championship', 'British Championship',
       'Nordic Championship', 'International Cup',
       'Pan American Championship', 'Copa América',
       'FIFA World Cup qualification', 'Copa del Pacífico',
       'FIFA World Cup', "Copa Bernardo O'Higgins", 'Copa Oswaldo Cruz',
       'AFC Asian Cup qualification', 'Atlantic Cup',
       'Copa Chevallier Boutell', 'AFC Asian Cup',
       'African Cup of Nations', 'Copa Newton', 'Copa Lipton',
       'Copa Paz del Chaco', 'Copa Roca', 'Merdeka Tournament',
       'UEFA Euro qualification', 'UEFA Euro',
       'Windward Islands Tournament',
       'African Cup of Nations qualification', 'Vietnam Independence Cup',
       'Copa Carlos Dittborn', 'CONCACAF Championship',
       'Copa Juan Pinto Durán', 'UAFA Cup', 'South Pacific Games',
       'CONCACAF Championship qualification', 'Copa Artigas', 'GaNEFo',
       'Copa Rio Branco', "King's Cup", 'Gulf Cup',
       'Indonesia Tournament', 'Korea Cup', 'Brazil Independence Cup',
       'Copa Ramón Castilla', 'Oceania Nations Cup', 'Balkan Cup',
       'CECAFA Cup', 'Copa Félix Bogado', 'Kirin Cup',
       'CFU Caribbean Cup qualification', 'CFU Caribbean Cup',
       'Amílcar Cabral Cup', 'Mundialito', 'West African Cup',
       'Nehru Cup', 'Merlion Cup', 'UDEAC Cup', 'Rous Cup',
       'Lunar New Year Cup', 'Tournoi de France',
       'Malta International Tournament', 'Island Games',
       'NAFU Championship', 'Dynasty Cup', 'UNCAF Cup', 'Gold Cup',
       'Baltic Cup', 'USA Cup', 'Jordan International Tournament',
       'Confederations Cup', 'United Arab Emirates Friendship Tournament',
       'Oceania Nations Cup qualification', 'Simba Tournament',
       'SAFF Cup', 'AFF Championship', 'King Hassan II Tournament',
       'Cyprus International Tournament', 'Dunhill Cup', 'COSAFA Cup',
       'Gold Cup qualification', 'SKN Football Festival', 'UNIFFAC Cup',
       'WAFF Championship', 'Millennium Cup', "Prime Minister's Cup",
       'EAFF Championship', 'AFC Challenge Cup', 'FIFI Wild Cup',
       'ELF Cup', 'Viva World Cup', 'UAFA Cup qualification',
       'AFC Challenge Cup qualification', 'African Nations Championship',
       'VFF Cup', 'Dragon Cup', 'ABCS Tournament',
       'Nile Basin Tournament', 'Nations Cup', 'OSN Cup',
       'ConIFA World Football Cup', 'ConIFA European Football Cup'],
      dtype=object)

In [14]:
df_new['intercept'] = 1
lm = sm.OLS(df_new['home_score'], df_new[['FIFA World Cup', 'UEFA Euro', 'African Cup of Nations']])
results = lm.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             home_score   R-squared:                       0.017
Model:                            OLS   Adj. R-squared:                  0.017
Method:                 Least Squares   F-statistic:                     210.8
Date:                Mon, 25 Jun 2018   Prob (F-statistic):          1.36e-135
Time:                        22:38:31   Log-Likelihood:                -83417.
No. Observations:               36494   AIC:                         1.668e+05
Df Residuals:                   36491   BIC:                         1.669e+05
Df Model:                           3
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
FIFA World Cup             1.5195      0.084     17.983      0.000       1.354       1.685
UEFA Euro                  1.3112      0.141      9.319      0.000       1.035       1.587
African Cup of Nations     1.4044      0.094     14.908      0.000       1.220       1.589
==============================================================================
Omnibus:                    18061.585   Durbin-Watson:                   1.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           212679.846
Skew:                           2.099   Prob(JB):                         0.00
Kurtosis:                      14.057   Cond. No.                         1.67
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [15]:
df_new['intercept'] = 1
lm = sm.OLS(df_new['away_score'], df_new[['FIFA World Cup', 'UEFA Euro', 'African Cup of Nations']])
results = lm.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             away_score   R-squared:                       0.019
Model:                            OLS   Adj. R-squared:                  0.019
Method:                 Least Squares   F-statistic:                     235.4
Date:                Mon, 25 Jun 2018   Prob (F-statistic):          2.94e-151
Time:                        22:38:31   Log-Likelihood:                -72363.
No. Observations:               36494   AIC:                         1.447e+05
Df Residuals:                   36491   BIC:                         1.448e+05
Df Model:                           3
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
FIFA World Cup             1.1942      0.062     19.133      0.000       1.072       1.317
UEFA Euro                  1.0909      0.104     10.497      0.000       0.887       1.295
African Cup of Nations     1.0549      0.070     15.159      0.000       0.918       1.191
==============================================================================
Omnibus:                    22426.659   Durbin-Watson:                   1.191
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           474391.016
Skew:                           2.583   Prob(JB):                         0.00
Kurtosis:                      19.890   Cond. No.                         1.67
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [16]:
xaxis_column_name = 'England'
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
year_value = 2016

In [17]:
dff = df[df['year'] == year_value]

dff_1 = dff[dff['home_team'].isin([xaxis_column_name])]
dff_2 = dff[dff['away_team'].isin([xaxis_column_name])]
dff = dff_1.append(dff_2, ignore_index=True)
dff.sort_values('date')

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
10,2016-03-26,Germany,England,2,3,Friendly,Berlin,Germany,False,2016
0,2016-03-29,England,Netherlands,1,2,Friendly,London,England,False,2016
1,2016-05-22,England,Turkey,2,1,Friendly,Manchester,England,False,2016
2,2016-05-27,England,Australia,2,1,Friendly,Sunderland,England,False,2016
3,2016-06-02,England,Portugal,1,0,Friendly,London,England,False,2016
4,2016-06-11,England,Russia,1,1,UEFA Euro,Marseille,France,True,2016
5,2016-06-16,England,Wales,2,1,UEFA Euro,Lens,France,True,2016
11,2016-06-20,Slovakia,England,0,0,UEFA Euro,Saint-Étienne,France,True,2016
6,2016-06-27,England,Iceland,1,2,UEFA Euro,Nice,France,True,2016
12,2016-09-04,Slovakia,England,0,1,FIFA World Cup qualification,Trnava,Slovakia,False,2016
7,2016-10-08,England,Malta,2,0,FIFA World Cup qualification,London,England,False,2016
13,2016-10-11,Slovenia,England,0,0,FIFA World Cup qualification,Ljubljana,Slovenia,False,2016
8,2016-11-11,England,Scotland,3,0,FIFA World Cup qualification,London,England,False,2016
9,2016-11-15,England,Spain,2,2,Friendly,London,England,False,2016

In [18]:
dff.head(20)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
0,2016-03-29,England,Netherlands,1,2,Friendly,London,England,False,2016
1,2016-05-22,England,Turkey,2,1,Friendly,Manchester,England,False,2016
2,2016-05-27,England,Australia,2,1,Friendly,Sunderland,England,False,2016
3,2016-06-02,England,Portugal,1,0,Friendly,London,England,False,2016
4,2016-06-11,England,Russia,1,1,UEFA Euro,Marseille,France,True,2016
5,2016-06-16,England,Wales,2,1,UEFA Euro,Lens,France,True,2016
6,2016-06-27,England,Iceland,1,2,UEFA Euro,Nice,France,True,2016
7,2016-10-08,England,Malta,2,0,FIFA World Cup qualification,London,England,False,2016
8,2016-11-11,England,Scotland,3,0,FIFA World Cup qualification,London,England,False,2016
9,2016-11-15,England,Spain,2,2,Friendly,London,England,False,2016
10,2016-03-26,Germany,England,2,3,Friendly,Berlin,Germany,False,2016
11,2016-06-20,Slovakia,England,0,0,UEFA Euro,Saint-Étienne,France,True,2016
12,2016-09-04,Slovakia,England,0,1,FIFA World Cup qualification,Trnava,Slovakia,False,2016
13,2016-10-11,Slovenia,England,0,0,FIFA World Cup qualification,Ljubljana,Slovenia,False,2016

In [19]:
goal1 = dff[dff['home_team'] == xaxis_column_name]['home_score'].append(dff[dff['away_team'] == xaxis_column_name]['away_score'])
goal2 = dff.loc[dff['home_team'] == xaxis_column_name, 'away_score'].append(dff.loc[dff['away_team'] == xaxis_column_name, 'home_score'])

In [20]:
goal1

0     1
1     2
2     2
3     1
4     1
5     2
6     1
7     2
8     3
9     2
10    3
11    0
12    1
13    0
dtype: int64

In [21]:
dff.head(20)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
0,2016-03-29,England,Netherlands,1,2,Friendly,London,England,False,2016
1,2016-05-22,England,Turkey,2,1,Friendly,Manchester,England,False,2016
2,2016-05-27,England,Australia,2,1,Friendly,Sunderland,England,False,2016
3,2016-06-02,England,Portugal,1,0,Friendly,London,England,False,2016
4,2016-06-11,England,Russia,1,1,UEFA Euro,Marseille,France,True,2016
5,2016-06-16,England,Wales,2,1,UEFA Euro,Lens,France,True,2016
6,2016-06-27,England,Iceland,1,2,UEFA Euro,Nice,France,True,2016
7,2016-10-08,England,Malta,2,0,FIFA World Cup qualification,London,England,False,2016
8,2016-11-11,England,Scotland,3,0,FIFA World Cup qualification,London,England,False,2016
9,2016-11-15,England,Spain,2,2,Friendly,London,England,False,2016
10,2016-03-26,Germany,England,2,3,Friendly,Berlin,Germany,False,2016
11,2016-06-20,Slovakia,England,0,0,UEFA Euro,Saint-Étienne,France,True,2016
12,2016-09-04,Slovakia,England,0,1,FIFA World Cup qualification,Trnava,Slovakia,False,2016
13,2016-10-11,Slovenia,England,0,0,FIFA World Cup qualification,Ljubljana,Slovenia,False,2016

In [22]:
dff_1 = dff[dff['home_team'].isin([xaxis_column_name])]

In [23]:
max_goals_amt = dff[['home_score','away_score']].max(axis=1)
max_goals_amt.max()

3

In [24]:
dff_g1 = dff[dff['home_team'].isin([xaxis_column_name])]
dff_g2 = dff[dff['away_team'].isin([xaxis_column_name])]
dff_goals = dff_1.append(dff_2, ignore_index=True)
max_goals_amt = dff_goals[['home_score','away_score']].max(axis=1)

In [25]:
max_goals_amt.max()

3

In [26]:
goal1

0     1
1     2
2     2
3     1
4     1
5     2
6     1
7     2
8     3
9     2
10    3
11    0
12    1
13    0
dtype: int64

In [27]:
goal2

0     2
1     1
2     1
3     0
4     1
5     1
6     2
7     0
8     0
9     2
10    2
11    0
12    0
13    0
dtype: int64

In [28]:
goal1 - goal2

0    -1
1     1
2     1
3     1
4     0
5     1
6    -1
7     2
8     3
9     0
10    1
11    0
12    1
13    0
dtype: int64

In [29]:
dff.head(20)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
0,2016-03-29,England,Netherlands,1,2,Friendly,London,England,False,2016
1,2016-05-22,England,Turkey,2,1,Friendly,Manchester,England,False,2016
2,2016-05-27,England,Australia,2,1,Friendly,Sunderland,England,False,2016
3,2016-06-02,England,Portugal,1,0,Friendly,London,England,False,2016
4,2016-06-11,England,Russia,1,1,UEFA Euro,Marseille,France,True,2016
5,2016-06-16,England,Wales,2,1,UEFA Euro,Lens,France,True,2016
6,2016-06-27,England,Iceland,1,2,UEFA Euro,Nice,France,True,2016
7,2016-10-08,England,Malta,2,0,FIFA World Cup qualification,London,England,False,2016
8,2016-11-11,England,Scotland,3,0,FIFA World Cup qualification,London,England,False,2016
9,2016-11-15,England,Spain,2,2,Friendly,London,England,False,2016
10,2016-03-26,Germany,England,2,3,Friendly,Berlin,Germany,False,2016
11,2016-06-20,Slovakia,England,0,0,UEFA Euro,Saint-Étienne,France,True,2016
12,2016-09-04,Slovakia,England,0,1,FIFA World Cup qualification,Trnava,Slovakia,False,2016
13,2016-10-11,Slovenia,England,0,0,FIFA World Cup qualification,Ljubljana,Slovenia,False,2016

In [30]:
dff_1 = dff[dff['home_team'].isin([xaxis_column_name])]
dff_2 = dff[dff['away_team'].isin([xaxis_column_name])]
dff = dff_1.append(dff_2, ignore_index=True)
dff = dff.sort_values('date')

In [31]:
goal1 = dff[dff['home_team'] == xaxis_column_name]['home_score'].append(dff[dff['away_team'] == xaxis_column_name]['away_score'], ignore_index=True)
goal2 = dff.loc[dff['home_team'] == xaxis_column_name, 'away_score'].append(dff.loc[dff['away_team'] == xaxis_column_name, 'home_score'], ignore_index=True)

In [32]:
dff.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
10,2016-03-26,Germany,England,2,3,Friendly,Berlin,Germany,False,2016
0,2016-03-29,England,Netherlands,1,2,Friendly,London,England,False,2016
1,2016-05-22,England,Turkey,2,1,Friendly,Manchester,England,False,2016
2,2016-05-27,England,Australia,2,1,Friendly,Sunderland,England,False,2016
3,2016-06-02,England,Portugal,1,0,Friendly,London,England,False,2016

In [33]:
df1 = pd.read_csv('results.csv')

In [34]:
xaxis_column_name = 'England'
df1['date'] = pd.to_datetime(df1['date'])
df1['year'] = df1['date'].dt.year
country_name = 'Germany'

In [35]:
df1.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876

In [36]:
dff = df

In [37]:
dff1 = df1[df1['home_team'].isin([xaxis_column_name, country_name])]
dff1 = dff1[dff1['away_team'].isin([xaxis_column_name, country_name])]

In [38]:
dff1.tail(10)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
22904,2000-06-17,England,Germany,1,0,UEFA Euro,Charleroi,Belgium,True,2000
23182,2000-10-07,England,Germany,0,1,FIFA World Cup qualification,London,England,False,2000
24146,2001-09-01,Germany,England,1,5,FIFA World Cup qualification,Munich,Germany,False,2001
29308,2007-08-22,England,Germany,1,2,Friendly,London,England,False,2007
30721,2008-11-19,Germany,England,1,2,Friendly,Berlin,Germany,False,2008
32027,2010-06-27,Germany,England,4,1,FIFA World Cup,Bloemfontein,South Africa,True,2010
35525,2013-11-19,England,Germany,0,1,Friendly,London,England,False,2013
37593,2016-03-26,Germany,England,2,3,Friendly,Berlin,Germany,False,2016
38451,2017-03-22,Germany,England,1,0,Friendly,Dortmund,Germany,False,2017
39132,2017-11-10,England,Germany,0,0,Friendly,London,England,False,2017

In [39]:
dff_1 = dff1[dff1['home_team'].isin([xaxis_column_name])]
dff_2 = dff1[dff1['away_team'].isin([xaxis_column_name])]
dff1 = dff_1.append(dff_2, ignore_index=True)
dff1 = dff1.sort_values('date')

In [66]:
dff1.head(33)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
17,1930-05-10,Germany,England,3,3,Friendly,Berlin,Germany,False,1930
0,1935-12-04,England,Germany,3,0,Friendly,London,England,False,1935
18,1938-05-14,Germany,England,3,6,Friendly,Berlin,Germany,False,1938
1,1954-12-01,England,Germany,3,1,Friendly,London,England,False,1954
19,1965-05-12,Germany,England,0,1,Friendly,Nuremberg,Germany,False,1965
2,1966-02-23,England,Germany,1,0,Friendly,London,England,False,1966
3,1966-07-30,England,Germany,4,2,FIFA World Cup,London,England,False,1966
20,1968-06-01,Germany,England,1,0,Friendly,Hanover,Germany,False,1968
4,1970-06-14,England,Germany,2,3,FIFA World Cup,León,Mexico,True,1970
5,1972-04-29,England,Germany,1,3,UEFA Euro qualification,London,England,False,1972
21,1972-05-13,Germany,England,0,0,UEFA Euro qualification,Berlin,Germany,False,1972
6,1975-03-12,England,Germany,2,0,Friendly,London,England,False,1975
22,1978-02-22,Germany,England,2,1,Friendly,Munich,Germany,False,1978
23,1982-06-29,Germany,England,0,0,FIFA World Cup,Madrid,Spain,True,1982
7,1982-10-13,England,Germany,1,2,Friendly,London,England,False,1982
8,1985-06-12,England,Germany,3,0,Friendly,Mexico City,Mexico,True,1985
24,1987-09-09,Germany,England,3,1,Friendly,Düsseldorf,Germany,False,1987
25,1990-07-04,Germany,England,1,1,FIFA World Cup,Turin,Italy,True,1990
9,1991-09-11,England,Germany,0,1,Friendly,London,England,False,1991
10,1993-06-19,England,Germany,1,2,USA Cup,Pontiac,USA,True,1993
11,1996-06-26,England,Germany,1,1,UEFA Euro,London,England,False,1996
12,2000-06-17,England,Germany,1,0,UEFA Euro,Charleroi,Belgium,True,2000
13,2000-10-07,England,Germany,0,1,FIFA World Cup qualification,London,England,False,2000
26,2001-09-01,Germany,England,1,5,FIFA World Cup qualification,Munich,Germany,False,2001
14,2007-08-22,England,Germany,1,2,Friendly,London,England,False,2007
27,2008-11-19,Germany,England,1,2,Friendly,Berlin,Germany,False,2008
28,2010-06-27,Germany,England,4,1,FIFA World Cup,Bloemfontein,South Africa,True,2010
15,2013-11-19,England,Germany,0,1,Friendly,London,England,False,2013
29,2016-03-26,Germany,England,2,3,Friendly,Berlin,Germany,False,2016
30,2017-03-22,Germany,England,1,0,Friendly,Dortmund,Germany,False,2017
16,2017-11-10,England,Germany,0,0,Friendly,London,England,False,2017

In [41]:
goal1 = dff1[dff1['home_team'] == xaxis_column_name][['home_score','date']].append(dff1[dff1['away_team'] == xaxis_column_name][['away_score','date']], ignore_index=True)
goal2 = dff1.loc[dff1['home_team'] == xaxis_column_name, ('away_score','date')].append(dff1.loc[dff1['away_team'] == xaxis_column_name, ('home_score','date')], ignore_index=True)

In [42]:
goal1 = goal1.sort_values('date')
goal2 = goal2.sort_values('date')

In [43]:
goal1 = goal1['away_score'].fillna(goal1['home_score'])
goal2 = goal2['away_score'].fillna(goal2['home_score'])

In [44]:
goal1

17    3.0
0     3.0
18    6.0
1     3.0
19    1.0
2     1.0
3     4.0
20    0.0
4     2.0
5     1.0
21    0.0
6     2.0
22    1.0
23    0.0
7     1.0
8     3.0
24    1.0
25    1.0
9     0.0
10    1.0
11    1.0
12    1.0
13    0.0
26    5.0
14    1.0
27    2.0
28    1.0
15    0.0
29    3.0
30    0.0
16    0.0
Name: away_score, dtype: float64

In [45]:
goal2

17    3.0
0     0.0
18    3.0
1     1.0
19    0.0
2     0.0
3     2.0
20    1.0
4     3.0
5     3.0
21    0.0
6     0.0
22    2.0
23    0.0
7     2.0
8     0.0
24    3.0
25    1.0
9     1.0
10    2.0
11    1.0
12    0.0
13    1.0
26    1.0
14    2.0
27    1.0
28    4.0
15    1.0
29    2.0
30    1.0
16    0.0
Name: away_score, dtype: float64

In [46]:
goal1-goal2

17    0.0
0     3.0
18    3.0
1     2.0
19    1.0
2     1.0
3     2.0
20   -1.0
4    -1.0
5    -2.0
21    0.0
6     2.0
22   -1.0
23    0.0
7    -1.0
8     3.0
24   -2.0
25    0.0
9    -1.0
10   -1.0
11    0.0
12    1.0
13   -1.0
26    4.0
14   -1.0
27    1.0
28   -3.0
15   -1.0
29    1.0
30   -1.0
16    0.0
Name: away_score, dtype: float64

In [47]:
year_value = 2016

dff = df[df['year'] == year_value]

dff_1 = dff[dff['home_team'].isin([xaxis_column_name])]
dff_2 = dff[dff['away_team'].isin([xaxis_column_name])]
dff = dff_1.append(dff_2, ignore_index=True)
dff = dff.sort_values('date')

In [48]:
dff2 = dff[~dff[['home_team', 'away_team', 'date']].isin([xaxis_column_name])]

In [49]:
#then we get all non-null values from both cols (data we want)
home_null = dff2.loc[dff2['home_team'].notnull(),('home_team','date')]
away_null = dff2.loc[dff2['away_team'].notnull(), ('away_team','date')]

In [50]:
#we then append to each other and fill the na values, custom is the same as name
non_null = away_null.append(home_null, ignore_index = True)
non_null = non_null.sort_values('date')
name = non_null['home_team'].fillna(non_null['away_team'])

In [51]:
name

10        Germany
0     Netherlands
1          Turkey
2       Australia
3        Portugal
4          Russia
5           Wales
11       Slovakia
6         Iceland
12       Slovakia
7           Malta
13       Slovenia
8        Scotland
9           Spain
Name: home_team, dtype: object

In [52]:
import numpy as np

df['random'] = np.random.uniform(0.49,0,len(df))

In [53]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,random
3144,1951-02-06,France,Yugoslavia,2,1,Friendly,Paris,France,False,1951,0.455149
3145,1951-02-18,Spain,Switzerland,6,3,Friendly,Madrid,Spain,False,1951,0.300189
3146,1951-02-24,Zimbabwe,Zambia,2,1,Friendly,Salisbury,Southern Rhodesia,False,1951,0.047688
3147,1951-02-25,Costa Rica,Nicaragua,8,1,CCCF Championship,Panama City,Panama,True,1951,0.404434
3148,1951-02-27,Panama,Costa Rica,2,0,CCCF Championship,Panama City,Panama,False,1951,0.006619

In [77]:
goal1 = dff_copy[dff_copy['home_team'] == country_name][['home_score','date']].append(dff_copy[dff_copy['away_team'] == country_name][['away_score','date']], ignore_index=True)
goal2 = dff_copy.loc[dff_copy['home_team'] == country_name, ('away_score','date')].append(dff_copy.loc[dff_copy['away_team'] == country_name, ('home_score','date')], ignore_index=True)

In [78]:
goal1 = goal1.sort_values('date')
goal2 = goal2.sort_values('date')

In [79]:
goal1 = goal1['away_score'].fillna(goal1['home_score'])
goal2 = goal2['away_score'].fillna(goal2['home_score'])

In [80]:
goal_net = goal1-goal2

In [81]:
goal_net

495   -2.0
496   -1.0
0      1.0
497    0.0
498    1.0
499   -2.0
1     -3.0
2     -1.0
3      4.0
500   -1.0
501    2.0
4     -1.0
5     -2.0
6     -3.0
502    0.0
503    0.0
504    1.0
505   -2.0
7     -1.0
8     -1.0
9     -3.0
506   -4.0
507    0.0
508   -3.0
509   -1.0
10     1.0
11     0.0
510   -3.0
511    0.0
12     0.0
      ...
477    3.0
478    0.0
920   -2.0
479    2.0
921    3.0
480    3.0
481    2.0
922    8.0
923    0.0
482    1.0
924    3.0
925    0.0
483    7.0
926    1.0
484    0.0
485    2.0
486    3.0
927    1.0
928    1.0
487    6.0
929    2.0
488    4.0
930    0.0
489    0.0
490    0.0
491   -1.0
931   -1.0
492    1.0
493   -1.0
494    1.0
Name: away_score, Length: 932, dtype: float64